body {
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 16px;
  text-align: center;
}

#title {
  font-size: 5em;
}

#description {
  font-size: 3em;
}

form {
  display: flex;
  flex-wrap: wrap;
}
form label {
  font-size: 2em;
  margin: 0 auto;
  width: 70%;
}
form #name, form #email, form #number {
  width: 30%;
}
form input {
  font-size: 1em;
  margin: 0 auto 20px;
  text-align: center;
}
form p {
  font-size: 2em;
  margin-top: 40px;
  width: 100%;
}
form #dropdown {
  font-size: 1em;
  margin: 0 auto;
  width: 20%;
}
form ol {
  font-size: 2em;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  width: 100%;
}
form textarea {
  font-size: 1em;
  margin: 0 5vh;
  width: 100%;
}
form button {
  background-color: black;
  border: 10px dashed white;
  color: white;
  cursor: pointer;
  font-size: 4vh;
  margin: 4vh auto;
  padding: 30px;
  text-transform: uppercase;
}
